:root {
      --color-fondo: #0f1116;
      --color-secundario: #1b1e25;
      --color-acento: #3fea8e;
      --color-texto: #eaeaea;
      --color-hover: #4dfca1;
    }

    body {
      font-family: 'Poppins', sans-serif;
      background: linear-gradient(135deg, #0b0d10, #1b1e25);
      color: var(--color-texto);
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    header, h1 {
      text-align: center;
      padding: 1.5rem;
      background: rgba(255, 255, 255, 0.05);
      font-size: 2.2rem;
      color: var(--color-acento);
      letter-spacing: 1px;
      font-weight: 700;
      text-shadow: 0 0 10px var(--color-acento);
    }

    nav {
      display: flex;
      gap: 00px;;
      justify-content: center;
      flex-wrap: wrap;
      padding: 5rem 0;

    }

    nav li {
      list-style: none;
    }

    nav a {
      text-decoration: none;
      color: white;
      background: rgba(255, 255, 255, 0.08);
      padding: 0.7rem 1.3rem;
      border-radius: 8px;
      transition: 0.3s ease;
      border: 1px solid transparent;
      font-weight: 500;
      font-size: 120%;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    nav a:hover {
      background:#4dfca1;
      color: #000;
      border-color: wheat;
      transform: translateY(-20px);
    }

    .contenido {
      display: flex;
      justify-content: left;
      align-items: flex-start;
      padding: 3rem;
    }

    .articulos {
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(10px);
      padding: 3rem;
      max-width: 900px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      animation: fadeIn 10s ease-in-out;
    }

    h2 {
      color: var(--color-acento);
      font-size: 1.6rem;
      border-left: 4px solid var(--color-acento);
      padding-left: 10px;
      margin-bottom: 1rem;
    }

    p {
      color: #ccc;
      font-size: 1rem;
      line-height: 1.8;
      font-family: 'Times New Roman', Times, serif;
      text-align: justify;
      font-size: 100%;
    }





