 :root {
      --color-primario: #d52249;
       --color-secundario: #2a5298;

      --color-texto: #f5f5f5;
      --sombra: rgba(0, 0, 0, 0);
    }

    body {
      font-family:'Times New Roman', Times, serif;
      background: linear-gradient(135deg, var(--color-primario), var(--color-secundario));
      color: white;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    header {
      text-align: center;
      padding: 1.5rem;
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(8px);
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 1px;
      box-shadow: 0 2px 10px var(--sombra);
    }

    main {
            display: flex;

      flex-direction: column;
      align-items: center;
    }

    h2 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 1.6rem;
      color: #fff;
    }

    p {
      text-align: center;
      max-width: 800px;
      line-height: 1.7;
      margin-bottom: 2rem;
      color: #e0e0e0;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1.5rem;
      width: 100%;
      max-width: 1000px;
    }

    .tarjeta {
            background:rgba(127, 255, 212, 0.273);

      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 0 10px var(--sombra);
    }

    .tarjeta:hover {
      transform: translateY(-8px);
      box-shadow: 0 0 25px #3fea8e;
    }

    .tarjeta img {
      width: 100px;
      height: 100px;
      border-radius: 10%;
     
    }

    .tarjeta h3 {
      margin: 0.5rem 0;
      color: #3fea8e;
    }

    .tarjeta p {
      color: #f1f1f1;
      font-size: 0.95rem;
    }

    footer {
      text-align: center;
      padding: 1rem;
      font-size: 0.9rem;
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(5px);
    }

   .home-btn {
      position: absolute;
      left: 650px;
      top: 127%;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: transform 0.3s ease, filter 0.3s ease;
    }

    .home-btn img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: transform 0.3s ease;
    }

    .home-btn:hover img {
      transform: scale(1.1);
      filter: drop-shadow(0 0 8px var(--color-acento));
    }